@import "../../styles/themes";
@import "../../styles/colors";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 0.1rem solid;
  padding: 0;
  overflow-x: visible;
  border-radius: 25%/50%;
}

$toggle-size: min(5vh, 5vw);
$toggle-min-size: 35px;
$toggle-max-size: 75px;
.toggleOne,
.toggleTwo,
.slider {
  cursor: pointer;
  width: $toggle-size;
  height: $toggle-size;
  min-width: $toggle-min-size;
  min-height: $toggle-min-size;
  max-width: $toggle-max-size;
  max-height: $toggle-max-size;
  border-radius: 100%;
}

.toggleOne,
.toggleTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: transform 0.25s ease-in-out;
}

.icon {
  width: 60%;
  height: 60%;
  z-index: 1;
}

.slider {
  position: absolute;
  transition: transform 0.25s ease-in-out;
}

.toggleOne.active {
  opacity: 1;
  & ~ .slider {
    transform: translateX(0%);
  }
}

.toggleTwo.active {
  opacity: 1;
  & ~ .slider {
    transform: translateX(100%);
  }
}
