/* Dark Theme Colors */
$primary-dark: #191d2b;
$secondary-dark: #454e56;
$font-dark: #ffffff;
$item-dark: #ff6b6b;
$hover-dark: #f89191;

/* Light Theme Colors */
$primary-light: #f0efee;
$secondary-light: #b5bacc;
$font-light: #030303;
$item-light: #a2ddff;
$hover-light: #c7e8fc;
