@import "./colors";

.light {
  background-color: $primary-light;
  color: $font-light;
}

.dark {
  background-color: $primary-dark;
  color: $font-dark;
}

.themeBold {
  font-weight: 600;
}

.themeHover:hover {
  .dark &,
  &.dark {
    background-color: $hover-dark;
    color: $font-dark;
  }

  .light &,
  &.light {
    background-color: $hover-light;
    color: $font-light;
  }
}

.themeFont {
  .dark &,
  &.dark {
    color: $font-dark;
  }

  .light &,
  &.light {
    color: $font-light;
  }
}

.themeColorFont {
  .dark &,
  &.dark {
    color: $color-dark;
  }

  .light &,
  &.light {
    color: $color-light;
  }
}

.themeColorBackground {
  .dark &,
  &.dark {
    background-color: $color-dark;
  }

  .light &,
  &.light {
    background-color: $color-light;
  }
}

.themeFill {
  .dark &,
  &.dark {
    background-color: $font-dark;
  }

  .light &,
  &.light {
    background-color: $font-light;
  }
}

.themeSecondary {
  .dark &,
  &.dark {
    background-color: $secondary-dark;
  }

  .light &,
  &.light {
    background-color: $secondary-light;
  }
}

a {
  .dark &,
  &.dark {
    color: $font-dark;
  }

  .light &,
  &.light {
    color: $font-light;
  }
}

a:hover {
  .dark &,
  &.dark {
    color: $hover-dark;
  }

  .light &,
  &.light {
    color: $hover-light;
  }
}

.themeItem {
  .dark &,
  &.dark {
    background-color: $item-dark;
  }

  .light &,
  &.light {
    background-color: $item-light;
  }
}

.themeBorder {
  .dark &,
  &.dark {
    border: 1px solid $font-dark;
  }

  .light &,
  &.light {
    border: 1px solid $font-light;
  }
}

.themeBgTranslucent {
  .dark &,
  &.dark {
    background-color: $translucent-dark;
  }

  .light &,
  &.light {
    background-color: $translucent-light;
  }
}

button {
  .dark &,
  &.dark {
    background-color: $item-dark;
    color: $font-dark;
  }

  .light &,
  &.light {
    background-color: $item-light;
    color: $font-light;
  }
}

button:hover {
  .dark &,
  &.dark {
    background-color: $hover-dark;
  }

  .light &,
  &.light {
    background-color: $hover-light;
  }
}
