@import "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  overflow-x: clip;
}

html,
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: $white;
  background-color: $primary;
}

button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
}

a {
  color: $white;
}

a:hover {
  color: $pink;
}
