@use 'src/styles/variables' as v;

$box-length: 150px;

.container {
  position: relative;
  width: $box-length;
  height: $box-length;
  margin-right: 1rem;
}

.container:hover {
  .overlayBackground {
    opacity: 1;
    height: 100%;
  }

  .overlayDetails {
    opacity: 1;
  }
}

.overlayBackground {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 100%;

  background-color: v.$color-grey-translucent;

  transition: all 0.5s ease-out;
}

.overlayDetails {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  transition: all 0.20s ease-in;
}

.image {
  width: $box-length;
  height: $box-length;
  border-radius: 5px;
}
