@use "src/styles/variables" as v;

.main {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: v.$color-primary;
}

@media screen and (min-width: 1000px) {
  .main {
    width: 50vw;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  padding: 0 5vw;
  margin-bottom: 10vh;
}

.controls {
  position: sticky;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: v.$color-primary;
  transition: all 0.2s ease-in-out;
  top: 0;
}

.hide {
  transform: translateY(-100%);
}

$control-size: 15vw;
$control-max-size: 100px;
$control-radius: 50%;
$control-margin-vert: 2vh;
$control-margin-hori: 2vw;
.controlInactive,
.controlActive,
.slider {
  cursor: pointer;
  width: $control-size;
  height: $control-size;
  max-width: $control-max-size;
  max-height: $control-max-size;
  border-radius: $control-radius;
  margin: $control-margin-vert $control-margin-hori $control-margin-vert
    $control-margin-hori;
}

.controlInactive,
.controlActive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$color-grey;
}

.slider {
  position: absolute;
  transition: transform 0.25s ease-in-out;
  background-color: v.$color-pink;
}

.controlIcon {
  width: 60%;
  height: 60%;
  color: v.$color-white;
  z-index: 1;
}

.controlInactive:hover {
  background-color: v.$color-light-pink;
}

.controlActive:hover {
  & ~ .slider {
    background-color: v.$color-light-pink;
  }
}

.controlActive.controlProfile {
  & ~ .slider {
    transform: translateX(0%);
  }
}

.controlActive.controlJobs {
  & ~ .slider {
    transform: translateX(100%) translateX($control-margin-hori * 2);
  }
}

.controlActive.controlProjects {
  & ~ .slider {
    transform: translateX(200%) translateX($control-margin-hori * 4);
  }
}
