@use 'src/styles/variables' as v;

.main {  
  height: 400px;
  width: 800px;
  display: flex;
  background-color: v.$color-primary;
}

.sections {
  flex: 90%;
}

@keyframes rise {
  from {
    top: 50%;
    opacity: 0;
  }
  to {
    top: 0%;
    opacity: 1;
  }
}

.section {
  animation-name: rise;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  position: relative;
}

.controls {
  flex: 10%;
  display: flex;
  flex-direction: column;
}

$control-size: 75px;
$control-radius: 50%;
$control-margin: 10px;
.controlInactive, .controlActive, .slider {
  cursor: pointer;
  width: $control-size;
  height: $control-size;
  border-radius: $control-radius;
  margin: $control-margin 0;
}

.controlInactive, .controlActive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$color-grey;
}

.slider {
  position: absolute;
  transition: transform 0.25s ease-in-out;
  background-color: v.$color-pink;
}

.controlIcon {
  width: 90%;
  height: 90%;
  color: v.$color-white;
  z-index: 1;
}

.controlInactive:hover {
  background-color: v.$color-light-grey;
}

.controlActive:hover {
  & ~ .slider {
    background-color: v.$color-light-pink;
  }
}

$shift: $control-size + $control-margin * 2;
.controlActive.controlProfile {
  & ~ .slider {
    transform: translateY(0%);
  }
}

.controlActive.controlJobs {
  & ~ .slider {
    transform: translateY($shift);
  }
}

.controlActive.controlProjects {
  & ~ .slider {
    transform: translateY($shift * 2);
  }
}
