.main {
  display: flex;
  flex-direction: row;
}

.profilePic {
  flex: 2.5;
  width: auto;
  height: 200px;
  border-radius: 10%;
  background-size: contain;
  align-self: top;
}

.description {
  flex: 7.5;
  padding: 0 1rem;
}