$shift-amount: 40%;
$border-radius: 20px;

.button {
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  background-color: rgba(0,0,0,1);
  border-radius: $border-radius;
}

.top-left, .top-right, .bot-left, .bot-right {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  height: 50%;
  width: 50%;
  transition: 1s;
  background-color: rgb(255, 255, 255, 1);
}

.top-left {
  border-radius: $border-radius 0 0 0;
}
.top-right {
  border-radius: 0 $border-radius 0 0;
}
.bot-left {
  border-radius: 0 0 0 $border-radius;
}
.bot-right {
  border-radius: 0 0 $border-radius 0;
}

.button:hover .top-left {
  transform: translate(-$shift-amount, -$shift-amount);
}

.button:hover .top-right {
  transform: translate($shift-amount, -$shift-amount);
}

.button:hover .bot-left {
  transform: translate(-$shift-amount, $shift-amount);
}

.button:hover .bot-right {
  transform: translate($shift-amount, $shift-amount);
}