.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  padding: 0 5vw;
}

.profilePic {
  min-height: 300px;
  max-height: 500px;
  border-radius: 10%;
  background-size: contain;

  @media (max-width: 768px) {
    margin-bottom: 18px;
  }
}

.pictureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .pictureContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5vw;
  }

  .introduction {
    margin-top: 20px;
  }
}

.contactSection {
  display: flex;
  flex-direction: column;
}
