@import "../../styles/colors";

.container {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: $primary-faded;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5vw;
  gap: 6px;
}

.menuIcon {
  font-size: 2rem;
  z-index: 2;
  margin-right: 5px;
  cursor: pointer;
}

.sectionName {
  font-size: 2rem;
  font-weight: 700;
}
