@import "../../styles/colors";

.container {
  position: relative;
}

.navMenu {
  position: absolute;
  padding: 0.5rem 7vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  transform-origin: top left;
  transform: scale(0, 0);
  background-color: $primary-faded;
}

.open {
  transform: scale(1, 1);
}

.menuItem {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.menuItem:focus {
  text-decoration: none;
}

.menuItem:hover {
  & .bulletPoint {
    transform: translateX(-4px);
  }
  & .itemLine {
    width: 50px;
  }
  color: $pink;
  & .itemLine,
  & .bulletPoint {
    background-color: $pink;
  }
  text-decoration: none;
}

.itemLine {
  transition: all 0.3s ease-in-out;
  height: 5px;
  background-color: $white;
}

.itemLineFull {
  width: 50px;
}

.itemLineEmpty {
  width: 0;
}

.bulletPoint {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin-right: 0.5rem;
  background-color: $white;
}

.shift {
  transform: translateX(-4px);
}
